@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="container" style="margin-top:8vh;">
    <h3 class="mb-5">Customer Policy</h3>
    <div class="flex-column flex-column w-100 mx-auto">
        <details class="mb-3">
              <summary>1.    Reservation and Rental Requirements </summary>
              <p>The policy ought to genuinely state the reservation and rental necessities, together with the minimum age of the renter, the minimal condo length, and the requirements for a legitimate motive force's license and coverage insurance.</p>
        </details>
        <details class="mb-3">
              <summary>2.    Rental Agreement:</summary>
              <p>The rental agreement should be clearly defined, including the term of the lease, the premium, the fuel charges, and any additional fees or charges.</p>
        </details>
        <details class="mb-3">
              <summary>3.    Payment Policies:</summary>
              <p>The policy ought to define the charge rules, inclusive of the familiar methods of payment, the quantity due at the time of rental, and any security deposit required.</p>
        </details>
        <details class="mb-3">
              <summary>4.    Cancellation Policy:</summary>
              <p>The policy must specify the cancellation policy, including any fees associated with canceling the reservation or rental.</p>
        </details>
        <details class="mb-3">
              <summary>5.    Vehicle Return:</summary>
              <p>The policy should clearly state the return procedures, including the return location and the condition of the vehicle at the time of return.</p>
        </details>
        <details class="mb-3">
              <summary>6.    Damage and Loss:</summary>
              <p>The policy should specify the lessee’s responsibility for damage or loss of the vehicle, including the lessee’s liability for any damage beyond normal wear and tear.</p>
        </details>
        <details class="mb-3">
              <summary>7.    Prohibited Use:</summary>
              <p>The policy must clearly state that the use of the rental vehicle is prohibited, such as off-roading or driving under the influence of alcohol or drugs.</p>
        </details>
        <details class="mb-3">
              <summary>8.    Customer Service:</summary>
              <p>The policy should outline the company’s commitment to customer service, including contact information for customer support and procedures for resolving any disputes or complaints.</p>
        </details>
        <details class="mb-3">
              <summary>9.    Insurance Coverage:</summary>
              <p>The letter should specify the amount of insurance provided by the leasing company and other insurance options available to the lessee.</p>
        </details>
    </div>
    
</div>
