
@{
    ViewData["Title"] = "Email Confirmation";
}

<partial name="_Notification" />

<div style="margin-top:10vh;">
    <div class="d-flex w-100 justify-content-center align-items-center" style="height:78vh;">
        <p class="fw-bold" style="font-size:30px;">Thank you for confirming your email, you can now continue to surf at our store.</p>
    </div>
</div>


