
@{
    ViewData["Title"] = "Email Confirmation";
}

<partial name="_Notification" />

<h1>Email Confirmation</h1>

<div>Thank you for confirming your email, you can now continue to surf at our store.</div>

