@{
    ViewData["Title"] = "Register Confirmation";
}


<div style="margin-top:10vh;">
    <div class="d-flex w-100 justify-content-center align-items-center" style="height:78vh;">
        <p class="fw-bold" style="font-size:45px;">Please check your email to confirm your account.</p>
    </div>
</div>

