@using VehicleRentalSystem.Presentation.Areas.Admin.ViewModels;

@model BrandViewModel

@{
    ViewData["Title"] = "Brand";
    var title = "Brand Detail";
}

<div class="container-fluid" style=" margin-top:10vh;">
    <form method="post">
        <div class="row mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6">
                <h3 class="text-dark">@title</h3>
            </div>
            <div class="col-8 pt-4">
                <div class="form-group row">
                    <input asp-for="Id" class="form-control" type="hidden"/>
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8 mb-4">
                        <input asp-for="Name" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8 mb-4">
                        <input asp-for="Description" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CreatedBy"></label>
                    </div>
                    <div class="col-8 mb-4">
                        <input asp-for="CreatedBy" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CreatedDate"></label>
                    </div>
                    <div class="col-8 mb-4">
                        <input asp-for="CreatedDate" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="LastModifiedBy"></label>
                    </div>
                    <div class="col-8 mb-4">
                        <input asp-for="LastModifiedBy" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="LastModifiedDate"></label>
                    </div>
                    <div class="col-8 mb-4">
                        <input asp-for="LastModifiedDate" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-4">
                    </div>
                    <div class="col-8 row border border-primary mt-4 ml-4" style="min-height: 180px; width:300px; margin-left:13px;">
                        <img id="previewImage" src="@Model.ImageURL" style="width: 300px; height: auto;  margin: auto;" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4">
                        <div class="row">
                            <div class="col">
                                <a asp-action="Index" class="btn btn-blue form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
