@model PasswordViewModel

@{
	ViewData["Title"] = "Change Password";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_Notification" />

<div class="row align-items-center justify-content-center" style="height: 80vh; margin-top:5vh;">
	<div class="row w-50">
		<form method="post" enctype="multipart/form-data">
            <div class="row">
                <h3 class="my-5">@ViewData["Title"]</h3>

                <div class="w-full">
                    <div class=" mb-3">
                        <input asp-for="OldPassword" id="initial" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Old Password" />
                        <div class="d-flex mb-2 justify-content-end  position-absolute" style="margin-top: -30px;margin-left: 580px;">
                            <img src="~/images/system/eye-close.png" id="togglePassword" onclick="chngimg()"/>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                            <script>
                                console.log('~/images/system/eye-close.png');
                                var toggle = false;
                                function chngimg() {
                                    if (toggle === true) {
                                        document.getElementById('togglePassword').src = '/images/system/eye-close.png'
                                        document.getElementById('initial').setAttribute('type', "password");
                                    }
                                    else {
                                        document.getElementById('togglePassword').src = '/images/system/eye.png'
                                        document.getElementById('initial').setAttribute('type', "text");
                                    }
                                    toggle = !toggle; 
                                }        

                            </script>
                        </div>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-full">
                    <div class="mb-3">
                        <input asp-for="NewPassword" id="initial2" class="form-control" autocomplete="new-password" aria-required="true" placeholder="New Password" />
                        <div class="d-flex mb-2 justify-content-end  position-absolute" style="margin-top: -30px;margin-left: 580px;">
                            <img src="~/images/system/eye-close.png" id="togglePassword2" onclick="chngimg2()"/>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                            <script>
                                console.log('~/images/system/eye-close.png');
                                var toggle = false;
                                function chngimg2() {
                                    if (toggle === true) {
                                        document.getElementById('togglePassword2').src = '/images/system/eye-close.png'
                                        document.getElementById('initial2').setAttribute('type', "password");
                                    }
                                    else {
                                        document.getElementById('togglePassword2').src = '/images/system/eye.png'
                                        document.getElementById('initial2').setAttribute('type', "text");
                                    }
                                    toggle = !toggle; 
                                }        

                            </script>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
             
            </div>
            <div class="row">
                <div class="w-full">
                    <div class="mb-3">
                        <input asp-for="ConfirmPassword" id="initial3" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password"/>
                        <div class="d-flex mb-2 justify-content-end  position-absolute" style="margin-top: -30px;margin-left: 580px;">
                            <img src="~/images/system/eye-close.png" id="togglePassword3" onclick="chngimg3()"/>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                            <script>
                                console.log('~/images/system/eye-close.png');
                                var toggle = false;
                                function chngimg3() {
                                    if (toggle === true) {
                                        document.getElementById('togglePassword3').src = '/images/system/eye-close.png'
                                        document.getElementById('initial3').setAttribute('type', "password");
                                    }
                                    else {
                                        document.getElementById('togglePassword3').src = '/images/system/eye.png'
                                        document.getElementById('initial3').setAttribute('type', "text");
                                    }
                                    toggle = !toggle; 
                                }        

                            </script>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
			<button id="update-profile-button" type="submit" class="w-100 btn btn-green mt-3 mb-5">Save</button>
		</form>
	</div>
</div>