@model PasswordViewModel

@{
	ViewData["Title"] = "Change Password";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_Notification" />

<div class="container">
	<h3>@ViewData["Title"]</h3>
	<div class="row">
		<form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-8">
                    <div class="form-floating mb-3">
                        <label asp-for="OldPassword" class="form-label"></label>
                        <input asp-for="OldPassword" id="codewords" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <input type="checkbox" class="mt-5 mr-1" id="password" onclick="showpasswordinitial(this);" />
                        Show Password
                    <script type="text/javascript">
                    function showpasswordinitial(check_box) {
                        var spass = document.getElementById("codewords");
                        if (check_box.checked)
                            spass.setAttribute("type", "text");
                        else
                            spass.setAttribute("type", "password");
                    }
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-floating mb-3">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <input asp-for="NewPassword" id="passwords" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <input type="checkbox" class="mt-5 mr-1" id="password" onclick="showpasswordinitial(this);" />
                        Show Password
                    <script type="text/javascript">
                    function showpasswordinitial(check_box) {
                        var pass = document.getElementById("passwords");
                        if (check_box.checked)
                            pass.setAttribute("type", "text");
                        else
                            pass.setAttribute("type", "password");
                    }
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-floating mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" id="passcodes" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <input type="checkbox" class="mt-5 mr-1" id="password" onclick="showpasswordinitial(this);" />
                        Show Password
                    <script type="text/javascript">
                    function showpasswordinitial(check_box) {
                        var scode = document.getElementById("passcodes");
                        if (check_box.checked)
                            scode.setAttribute("type", "text");
                        else
                            scode.setAttribute("type", "password");
                    }
                    </script>
                </div>
			<button id="update-profile-button" type="submit" class="w-100 btn btn-dark mt-3 mb-5">Save</button>
		</form>
	</div>
</div>