@model ProfileViewModel

@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_Notification" />

<div class="container" style=" margin-top:10vh;">
	<h3>@ViewData["Title"]</h3>
	<div class="row">
		<form method="post" enctype="multipart/form-data">
			<div class="col-8 pt-4">
				<div class="form-group row mb-4">
					<div class="col-4">
						<label asp-for="Image" class="mb-2" style="width: 100%;"></label>
						
					</div>
					<div class="col-8 row">
						@if (Model.Image != null)
						{
							<img id="profilePicture" class="border-purple" style="width:300px;height:285px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))">
						}
						else
						{
							<img id="profilePicture" style="width:500px;height:350px; object-fit:cover" src="">
						}
						
					</div>
				</div>
				<div class="form-group row mb-4">
					<div class="col-4">
						<label class="form-label mt-3">Upload a new picture</label>
					</div>
					<div class="col-8 row pt-3">
						<input asp-for="Image" class="form-control" name="UserImage" type="file" id="exampleInputFile" accept=".png,.jpg,.jpeg,.gif,.tif" onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" style="padding-left:5px !important; "/>
						<span asp-validation-for="Image" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row mb-4">
					<div class="col-4">
						<label asp-for="Username" class="form-label"></label>
					</div>
					<div class="col-8 row">
						<input asp-for="Username" class="form-control" disabled />
					</div>
				</div>
				<div class="form-group row mb-4">
					<div class="col-4">
						<label asp-for="PhoneNumber" class="form-label"></label>
					</div>
					<div class="col-8 row">
						<input asp-for="PhoneNumber" class="form-control" required/>
						<span asp-validation-for="PhoneNumber" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row mb-4">
					<div class="col-4">
					</div>
					<div class="col-8 row">
						<button id="update-profile-button" type="submit" class="w-100 btn btn-green mt-3 mb-5">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>