@model DamageRequestViewModel

@{
    ViewData["Title"] = "Damage Detail";
}



<div class="container-fluid" style=" margin-top:10vh;">
    <h2>Damage Details</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6">
                <h3 class="text-dark">Damage Request Form for @Model.VehicleName</h3>
            </div>
            <div class="col-8 pt-4" >
                <div class="form-group row">
                    <input asp-for="DamageRequest.RentalId" class="form-control" type="hidden" required/>
                    <div class="col-4">
                        <label asp-for="DamageRequest.DamageDescription"></label>
                    </div>
                    <div class="col-8 mb-4">
                        <input asp-for="DamageRequest.DamageDescription" class="form-control" />
                        <span asp-validation-for="DamageRequest.DamageDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DamageRequest.ImageURL"></label>
                    </div>
                    <div class="col-8 mb-4">
                        <input asp-for="DamageRequest.ImageURL" type="file"  name="image" class="from-control custom-file-input" id="exampleInputFile" onchange="readURL(this);" class="form-control" accept=".png,.jpg,.jpeg,.gif,.tif" />
                    </div>
                </div>
                <div class="col-8 offset-4">
                    <button type="submit" class="btn btn-green form-control">Submit a request</button>
                </div>
            </div>
        </div>
    </form>
</div>