@using VehicleRentalSystem.Presentation.Areas.Admin.ViewModels;
@model UserPasswordViewModel
@{
    ViewData["Title"] = "Password";
}

<partial name="_Notification" />

<div class="row align-items-center justify-content-center" style="height: 80vh; margin-top:5vh;">
    <div class="row w-50">
        <form method="post">
            
                <div class="row">
                    <input asp-for="@Model.Id" hidden/>
                    <h4 class="mb-5" style="padding-left:0px;">Change password for @Model.UserName</h4>
                    <input asp-for="Password" placeholder="Password" class="form-control" />
                    <button type="submit"  class="w-100 btn btn-green mt-3 mb-5">Change Password</button>
                </div>
        </form>
    </div>
</div>

