@using VehicleRentalSystem.Presentation.Areas.Admin.ViewModels;
@model UserPasswordViewModel
@{
    ViewData["Title"] = "Password";
}

<partial name="_Notification" />

<h1>Change User Password</h1>

<form method="post">
    <div class="card">
        <div class="row">
            <input asp-for="@Model.Id" hidden/>
            Change password for @Model.UserName
            <div class="row">Password</div>
            <input asp-for="Password" />
            <button type="submit">Change Password</button>
        </div>
    </div>
</form>

