@using VehicleRentalSystem.Presentation.Areas.Admin.ViewModels;
@model UserViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid" style=" margin-top:13vh;">
    <h3 class="mb-4">Register a new staff</h3>
    <form id="form" method="post" enctype="multipart/form-data">
    <div class="col-8 pt-4">
        <div class="form-group row mb-4">
            <div class="col-4">
                <label asp-for="Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control" aria-required="true" placeholder="Full Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-4">
                <label asp-for="PhoneNumber"></label>
            </div>
            <div class="col-8">
                <input asp-for="PhoneNumber" class="form-control" aria-required="true" placeholder="Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-4">
                <label asp-for="Address"></label>
            </div>
            <div class="col-8">
                <input asp-for="Address" class="form-control" aria-required="true" placeholder="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-4">
                <label asp-for="State"></label>
            </div>
            <div class="col-8">
                <input asp-for="State" class="form-control" aria-required="true" placeholder="State" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-4">
                <label asp-for="Email"></label>
            </div>
            <div class="col-8">
                <input asp-for="Email" class="form-control" aria-required="true" placeholder="Email Address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
        </div>
        <div class="form-group row mb-4">
            <div class="col-4">
                <label asp-for="Role"></label>
            </div>
            <div class="col-8">
                <select asp-for="Role" class="form-control" aria-required="true" placeholder="Select a role" >
                    <option disabled selected>Select a role</option>
                    <option value="Admin">Admin</option>
                    <option value="Staff">Staff</option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-4">
                <label asp-for="Image"></label>
            </div>
            <div class="col-8">
                <input asp-for="Image" type="file"  placeholder="Profile Image" class="form-control" id="exampleInputFile" accept=".png,.jpg,.jpeg,.gif,.tif" />
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-4">
            </div>
            <div class="col-8">
                <button id="registerSubmit" type="submit" class="w-100 mt-3 btn btn-primary">Register</button>
            </div>
        </div>
    </div>
    </form>
</div>

